* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background-color: #f6f8fc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

